# Application Settings
APP_NAME="Splash360 Tours"
APP_URL=http://localhost
APP_ENV=development
APP_DEBUG=true
BASE_PATH=

# Database Settings
DB_HOST=localhost
DB_NAME=splash360tours
DB_USER=root
DB_PASS=

# Email Settings
MAIL_FROM=noreply@splash360tours.com
MAIL_FROM_NAME="Splash360 Tours"
